/.DS_Store
/.vscode
/Oslo.xlsx
/Oslo_28639.csv
/Oslo_28701.csv
/Oslo_28704.csv
/Oslo_28706.csv
/Oslo_28707.csv
/Oslo_28762.csv
/Oslo_28765.csv
/Oslo_35108.csv
/Oslo_35110.csv
/Oslo_60864.csv
/Oslo_65133.csv
/Oslo_71585.csv
/Oslo_72802.csv
/Sevilla.xlsx
/Sevilla_11153.csv
/Sevilla_12707.csv
/Sevilla_71178.csv
/Sevilla_71179.csv
/~$Sevilla.xlsx